@charset 'utf-8';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body {background:#fefefe; font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;}
* {box-sizing:border-box;}
.wrap {position:relative; width:100%; padding-top:80px; padding-bottom:100px; z-index:1;}
.top-nav {position:fixed; top:0; left:0%; width:100%; height:60px; text-align:center; border:1px solid #ddd; border-top:0; background:#fff; font-family: 'SBAggroB'; font-size:22px; line-height:60px; color:#333; z-index:2;}

.in-contain {position:relative; max-width:935px; width:100%; margin:0 auto; z-index:1;}
.in-contain .cnt {position:relative; max-width:614px;}
.in-contain .cnt .box {width:100%; background:#fff; border:1px solid #ddd; margin-bottom:30px;}
.in-contain .cnt .box:last-child {margin-bottom:0;}
.in-contain .cnt .box .date {padding:12px 8px; text-align:right; font-size:12px; line-height:1.3em; color:#888; border-bottom:1px solid #ddd}
.in-contain .cnt .box .thumb {line-height:0; border-bottom:1px solid #ddd;}
.in-contain .cnt .box .thumb img {width:100%; height:auto;}
.in-contain .cnt .box .txt {padding:22px 8px;}
.in-contain .cnt .box .txt p {font-size:14px; line-height:1.5em; color:#333;}

.myself {position:fixed; top:100px; right:50%; margin-right:-467.5px; width:293px; padding:15px 0; text-align:center;}
.myself .img {position:relative; margin:0 auto 30px; width:200px; height:200px; border-radius:100%; overflow:hidden; box-shadow:5px 5px 5px rgba(0,0,0,0.3);}
.myself .name {font-size:22px; line-height:1.4em; font-weight:500; color:#333;}
