@charset 'utf-8';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {text-decoration:none; color:initial;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body {box-sizing:border-box; background:#fff; font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;}
* {box-sizing:border-box;}

body .main_mov{display: none;}
body.in .main_mov{position: fixed;top: 0;left: 0;z-index: 5000;display: block;width: 100%;height: 100%;}
body.in .main_mov .bar{position: absolute;top: 50%;left: 0;z-index: 5001;width: 100%;height: 1px;background-color: #333;animation-delay: 1.1s;animation-delay: 1.1s;animation-name: in_bar_b;animation-duration: 1s;animation-fill-mode: forwards;}
body.in .main_mov .bar::after{content: "";display: block;width: 0;height: 1px;background-color: #fff;animation-name: in_bar_w;animation-duration: 1s;animation-fill-mode: forwards;}
body.in .main_mov .ani_bg{position: absolute;z-index: 5000;width: 100%;height: 50%;background-color: #000;animation-delay: 1.1s;animation-name: in_bg;animation-duration: 1s;animation-fill-mode: forwards;}
body.in .main_mov .top{left: 0;top: 0;}
body.in .main_mov .bottom{right: 0;top: 50%;}

@keyframes in_bar_b{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes in_bar_w{
	0% {width: 0;}
	100% {width: 100%;}
}

@keyframes in_bg{
	from {width: 100%;}
	to{width: 0;}
}

.section {position:relative; z-index:1; width:100%; height:100vh;}
.section:after {content:""; position:absolute; top:0; left:0; width:100%; height:100%; box-sizing:border-box; border:30px solid #FFCC00; z-index:-1;}
.top-nav {position:absolute; width:100%; z-index:2;}
.top-nav h1 {position: absolute; left: 70px; top: 60px; font-family: 'Montserrat'; font-style: normal; font-weight: 700; font-size: 30px; line-height: 37px; color: #000;}
.top-nav .info {position: absolute; right: 65px; top: 66px; font-family: 'Montserrat'; font-style: normal; font-weight: 700; font-size: 20px; line-height: 24px; color: #000;}
.main-home {position:relative;}
.main-home .visual-scroll {position:absolute; bottom:77px; right:120px; z-index:10; line-height:0; text-align:center;
	-webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
}
.main-home .visual-scroll a {display:block;}
.main-home .visual-scroll img {display:inline-block;}
.main-home .visual-scroll span {display:block; padding-left:2px; margin-top:12px; font-size:12px; line-height:1.3em; color:#000; letter-spacing:0.1em;}

.myself {display:block; margin:0 auto; max-width:1200px; width:100%; position:relative;}
.myself h2 {margin-bottom:30px; font-family: 'Montserrat'; font-weight: 700; font-size: 60px; line-height: 73px; letter-spacing: -0.02em;}
.myself h2 strong {font-weight:900;}
.myself .img {position:absolute; bottom:0; right:0;}
.quick-link {width:100%; padding:120px 40px 25px; background: linear-gradient(180deg, #305173 0%, #054A94 0.01%, #FF630B 100%);}
.quick-link ul {display:flex;}
.quick-link ul li {position:relative; margin-left:43px; padding-right:22px;}
.quick-link ul li:after {content:""; position:absolute; top:10px; right:0; width:10px; height:10px; border-top:2px solid #fff; border-left:2px solid #fff; transform:rotate(135deg);}
.quick-link ul li a {display:block; font-weight: 700; font-size: 26px; line-height: 31px; letter-spacing: -0.02em; color:#fff; text-decoration:none;}

.main-skill {background:#FFCC00;}
.skill-box {max-width:1200px; width:100%; position:relative; margin:0 auto;}
.skill-box .title {margin-bottom:42px;}
.skill-box .title h2 {font-family: 'Montserrat'; font-weight: 700; font-size: 60px; line-height: 73px; letter-spacing: -0.02em;}
.skill-box .list ul {display:flex; flex-wrap:wrap; margin:-10px;}
.skill-box .list ul li {width:33.33333%; padding:10px;}
.skill-box .list ul li .box {position:relative; text-align:center; width:100%; height:236px; background: linear-gradient(180deg, #305173 0%, #054A94 0.01%, #FF630B 100%);}
.skill-box .list ul li .box .tit {position:absolute; top:50%; transform:translateY(-50%); left:0; opacity:1; width:100%; font-family: 'Montserrat'; font-weight: 700; font-size: 26px; line-height: 1.4em; text-align: center; color:#fff; letter-spacing: -0.02em; transition:.3s ease-in-out;}
.skill-box .list ul li .box .percent {position:absolute; top:50%; transform:translateY(-50%); left:0; margin-bottom:-30px; opacity:0; width:100%; font-family: 'Montserrat'; font-weight: 700; font-size: 34px; line-height: 1.4em; text-align: center; color:#fff; letter-spacing: -0.02em; transition:.3s ease-in-out;}

.skill-box .list ul li:hover .box .tit {opacity:0; margin-top:-20px;}
.skill-box .list ul li:hover .box .percent {opacity:1; margin-bottom:0;}

.main-project {position:relative; z-index:1;}
.main-project:before {content:""; position:absolute; top:0; right:0; width:50vw; height:100%; background:#FFCC00; z-index:-1;}
.main-project .inner {max-width:1200px; width:100%; position:relative; margin:0 auto;}
.main-project .inner .title {margin-bottom:32px;}
.main-project .inner .title h2 {font-family: 'Montserrat'; font-weight: 700; font-size: 60px; line-height: 73px; letter-spacing: -0.02em;}
.main-project .in-box {display:flex; margin:0 -20px;}
.main-project .in-box .box {width:50%; padding:0 20px;}
.main-project .in-box .tit {margin-bottom:18px; font-family: 'Montserrat'; font-weight: 500; font-size: 24px; line-height: 1.5em; letter-spacing: -0.02em;}
.main-project .in-box .iframe-box {position:relative; width:100%; height:0; padding-bottom:67%; background:#eee; overflow:hidden;}
.main-project .in-box .iframe-box iframe {position:absolute; top:20px; left:0; width:100%; height:calc(100% - 20px);}
.main-project .in-box .slider-box {position:relative; width:100%; height:0; padding-bottom:67%; overflow:hidden;}
.main-project .in-box .slider-box .items {position:absolute; top:0; left:0; width:100%; height:100%;}
.main-project .in-box .slider-box .items > div {position:absolute; top:0; left:0; width:100%; height:100%; transition: 0.3s ease; opacity: 0;}
.main-project .in-box .slider-box .items > div.on {opacity:1;}
.main-project .in-box .slider-box .items .img {position:relative; width:100%; height:0; padding-bottom:67%; overflow:hidden;}
.main-project .in-box .slider-box .items .img img {position:absolute; top:50%; left:0; transform:translateY(-50%); width:100%; height:auto !important; max-width:100%; min-height:100%; object-fit:cover;}
.main-project .in-box .slider-box #control {position:absolute; width:100%; bottom:12px; text-align:center;}
.main-project .in-box .slider-box #control a {display:inline-block; width:22px; height:5px; background:#eee; line-height:0; margin:0 2px}
.main-project .in-box .slider-box #control a.on {background:#FFCC00;}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } 
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } 
}

@media (max-width: 1200px) {
  .section {padding:0 50px;}
  .main-home .visual-scroll {right:55px;}
}
@media (max-width: 900px) {
  .myself h2 {font-size: 45px; line-height: 1.5em;}
  .myself .img img {height:280px;}
}
@media (max-width: 700px) {
  .section {padding:0 25px;}
  .section:after {border:10px solid #FFCC00;}
  .top-nav h1 {left: 25px; top: 22px; font-size: 22px; line-height: 37px;}
  .top-nav .info {right: 25px; top: 28px; font-size: 16px; line-height: 24px;}
  
  .myself h2 {margin-bottom:22px; font-size: 32px;}
  .myself .img {bottom:-2px;}
  .myself .img img {height:140px;}
  .quick-link {padding:55px 15px 15px;}
  .quick-link ul li {margin-left:22px; padding-right:22px;}
  .quick-link ul li a {font-size: 18px;}

  .main-home .visual-scroll {bottom:30px; right:35px;}
  .main-home .visual-scroll span {margin-top:8px; font-size:10px;}

  .skill-box .title {margin-bottom:25px;}
  .skill-box .title h2 {font-size: 32px; line-height: 1.4em;}
  .skill-box .list ul {display:flex; flex-wrap:wrap; margin:-6px;}
  .skill-box .list ul li {width:50%; padding:6px;}
  .skill-box .list ul li .box {height:140px;}
  .skill-box .list ul li .box .tit {font-size: 18px;}
  .skill-box .list ul li .box .percent {margin-bottom:-30px; font-size: 26px;}

  .skill-box .list ul li:hover .box .tit {margin-top:-20px;}

}